@import "../../assets/css/config/variables";
@import "../../assets/css/mixin/function";
@import "../../assets/css/config/reset";
@import "../../assets/css/base/common";

.item {
    padding-bottom: 64px;
    width: 100%;
    max-width: 400px;
    font-weight: 700;
    position: relative;
    display: block;
    transition: all .3s;
    color: #283135;
    border-radius: 28px;
    background: #fff;
    box-shadow: 0 8px 30px 0 rgb(0 0 0 / 35%);
    text-align: left;
    @include pc {
        padding-bottom: get_pc(64);
        max-width: get_pc(400);
        border-radius:  get_pc(28);
        box-shadow: 0  get_pc(8)  get_pc(30) 0 rgb(0 0 0 / 35%);
    }
      @include sp {
        padding-bottom: get_sp(64);
        max-width: get_sp(400);
        border-radius:  get_sp(28);
        box-shadow: 0  get_sp(8)  get_sp(30) 0 rgb(0 0 0 / 35%);
        margin-bottom: get_sp(25);
    }
    &:hover {
        transform: translateY(3px);
        box-shadow: 0 2px 0 #ddd;
        @include pc {
            box-shadow: 0 get_pc(2) 0 #ddd;
        }
        @include sp {
            box-shadow: 0 get_sp(2) 0 #ddd;
        }
    }
    .item_content {
        .thumb {
            width: 100%;
            margin-bottom: 16px;
            @include pc {
                margin-bottom: get_pc(16);
            }
            @include sp {
                margin-bottom: get_sp(16);
            }
            img {
                border-radius: 30px 30px 0 0;
                width: 100%;
                @include pc {
                    border-radius: get_pc(30) get_pc(30) 0 0;
                }
                @include sp {
                    border-radius: get_sp(30) get_sp(30) 0 0;
                }
            }
        }
        .txt_desp {
            .author_ {
                position: relative;
                width: 50px;
                height: 50px;
                margin-left: 15px;
                padding: 7px 8px 9px;
                text-align: center;
                border-radius: 50%;
                background: #fff;
                margin-top: -38px;
                @include pc {
                    width: get_pc(50);
                    height: get_pc(50);
                    margin-left: get_pc(15);
                    padding: get_pc(7) get_pc(8) get_pc(9);
                    margin-top: get_pc(-38);
                }
                @include sp {
                    width: get_sp(50);
                    height: get_sp(50);
                    margin-left: get_sp(15);
                    padding: get_sp(7) get_sp(8) get_sp(9);
                    margin-top: get_sp(-38);
                }
                img {
                    position: relative;
                    z-index: 1;
                    border-radius: 50%;
                    @include pc {
                        width: get_pc(34);
                        height: get_pc(34);
                    }
                    @include sp {
                        width: get_sp(34);
                        height: get_sp(34);
                    }
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 42px;
                    height: 42px;
                    content: '';
                    border-radius: 50%;
                    @include pc {
                        width: get_pc(42);
                        height: get_pc(42);
                    }
                    @include sp {
                        width: get_sp(42);
                        height: get_sp(42);
                    }
                }
                &:after {
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    width: 52px;
                    height: 26px;
                    content: '';
                    border-radius: 38px 38px 0 0;
                    background: #fff;
                    @include pc {
                        top: get_pc(-1);
                        left: get_pc(-1);
                        width: get_pc(52);
                        height: get_pc(26);
                        border-radius: get_pc(38) get_pc(38) 0 0;
                    }
                    @include sp {
                        top: get_sp(-1);
                        left: get_sp(-1);
                        width: get_sp(52);
                        height: get_sp(26);
                        border-radius: get_sp(38) get_sp(38) 0 0;
                    }
                }
            }
            .name {
                margin-top: -20px;
                margin-left: 76px;
                font-size: 10px;
                @include pc {
                    margin-top: get_pc(-20);
                    margin-left: get_pc(76);
                    font-size: get_pc(10);
                }
                @include sp {
                    margin-top: get_sp(-20);
                    margin-left: get_sp(76);
                    font-size: get_sp(12);
                }
            }
            .date_ {
                font-family: Avenir,Arial,sans-serif;
                font-size: 12px;
                position: absolute;
                right: 10px;
                margin-top: -18px;
                @include pc {
                    font-size: get_pc(12);
                    right: get_pc(10);
                    margin-top: get_pc(-18);
                }
                @include sp {
                    font-size: get_sp(12);
                    right: get_sp(10);
                    margin-top: get_sp(-18);
                }
            }
            h3 {
                font-weight: 700;
                line-height: 1.5;
                padding: 20px 20px 15px;
                transition: all .3s;
                font-size: 16px;
                @include pc {
                    padding: get_pc(20) get_pc(20) get_pc(15);
                    font-size: get_pc(16); 
                }
                @include sp {
                    padding: get_sp(20) get_sp(20) get_sp(15);
                    font-size: get_sp(16); 
                }
            }
        }
    }
}